<mat-toolbar color="primary" class="top-bar" >
  <button mat-icon-button (click)="myDrawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="spacer"></span>

  <span style="flex: auto"></span>
  <div class="user-display-top" *ngIf="utilisateur">
    <span class="user-name">👤 {{ utilisateur.prenom }} {{ utilisateur.nom }}</span>
  </div>

  <div class="nav-buttons">
    <button mat-button routerLink="/admin/home">Home</button>
    <button mat-button routerLink="/admin/contacts">Contacts</button>
    <button mat-button [matMenuTriggerFor]="list">
      <mat-icon iconPositionEnd>keyboard_arrow_down</mat-icon>
      Formations
    </button>
    <mat-menu #list>
      <button mat-button routerLink="/admin/formations">Liste Formations</button>
      <button mat-button routerLink="/admin/dashboard">Dashboard</button>
    </mat-menu>
    <button mat-raised-button color="accent" (click)="logout()">LogOut</button>
  </div>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer #myDrawer opened="true" mode="side" position="start"
              *ngIf="hasRequiredRole(currentUser$ | async)" class="custom-drawer">
    <mat-list>
      <mat-list-item>
        <button mat-button routerLink="/admin/inscription">
          <mat-icon>assignment</mat-icon>
          Liste Inscriptions
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/notification">
          <mat-icon>notifications</mat-icon>
          Liste Notifications
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/paiements">
          <mat-icon>payment</mat-icon>
          Liste Paiements
        </button>
      </mat-list-item>
      <mat-list-item>
        <button mat-button routerLink="/admin/formations/nouvelle">
          <mat-icon>add</mat-icon>
          Ajouter Formation
        </button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <mat-drawer-content>
    <div style="min-height: 600px">
      <router-outlet>

      </router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
